# Mac
.DS_Store

# IntelliJ
.idea

# Python
*.pyc
__pycache__
/build/
/dist/
*/conda_build/build/
*.egg-info
.env
.venv/
venv/

# example data
examples/runs/
examples/*_data
examples/frameworks/data

# vscode
.workspace/
.vscode/
