attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
funcsigs==1.0.2
furl==2.1.0
future==0.18.2
humanfriendly==8.2
idna==2.10
jsonschema==3.2.0
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///opt/concourse/worker/volumes/live/c646f6b9-b398-438d-7dc7-c7142e0ba44b/volume/numpy_and_numpy_base_1596235504536/work
orderedmultidict==1.0.1
pandas @ file:///opt/concourse/worker/volumes/live/905bc214-99a7-4c47-6cae-d63a445c9258/volume/pandas_1598371465625/work
pathlib2==2.3.5
Pillow==7.2.0
plotly==4.11.0
psutil==5.7.2
py4j @ file:///tmp/build/80754af9/py4j_1593437928427/work
pyarrow==0.15.1
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
pyspark @ file:///tmp/build/80754af9/pyspark_1593438048599/work
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-file==1.5.1
retrying==1.3.3
six==1.15.0
tqdm==4.50.0
trains==0.16.2rc2
urllib3==1.25.10
